.navbar-landing {
    background-color: #212529;
    /*-webkit-box-shadow: 0 1px 16px -2px rgba(56, 65, 74, 0.15);*/
    /*box-shadow: 0 1px 16px -2px rgba(56, 65, 74, 0.15);*/
    -webkit-box-shadow: 0 5px 21px -5px #CDD1E1;
    box-shadow: 0 5px 21px -5px #CDD1E1;
    padding: 10px 8px;
}
