.custom-height-card .feature-img {
    height:190px;
    object-fit: cover;
}

.same-height {
    height: auto !important;
}

.swiper-content {
    height: 100% !important
}

/*!* RIBBON V1 *!*/
.ribbon-main {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon-main::before,
.ribbon-main::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.ribbon-main span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-main-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-main-top-left::before,
.ribbon-main-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-main-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-main-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-main-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

/* top right*/
.ribbon-main-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-main-top-right::before,
.ribbon-main-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-main-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-main-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-main-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/* RIBBON V2.*/
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 80px;
    height: 80px;
    text-align: right;
}
.ribbon span {
    font-size: 9px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #1e5799;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -20.5px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.ribbon span::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #1e5799;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}

.green span {
    background: linear-gradient(#39b995 0%, #00b894 100%);
}
.green span::before {
    border-left-color: #00b894;
    border-top-color: #00b894;
}
.green span::after {
    border-right-color: #00b894;
    border-top-color: #00b894;
}

.yellow span {
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
}
.yellow span::before {
    border-left-color: #79a70a;
    border-top-color: #79a70a;
}
.yellow span::after {
    border-right-color: #79a70a;
    border-top-color: #79a70a;
}

/*--------------------------------------------------------------
# Discountboxes
--------------------------------------------------------------*/
.discountbox-card {
    padding: 30px 15px;
    margin-bottom: 30px;
    /*box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);*/
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    border-bottom: 3px solid #d9d8d8;
    transition: all 0.3s ease-in-out;
    position: relative;
    /*margin: 0;*/
}

.discountbox-card:hover:not(.highlighted) {
    box-shadow: 0 15px 35px 0 rgba(68, 88, 144, 0.2);
    transform: translateY(-5px);
    border-color: #3fcdc7;
}

.discountbox-card.highlighted:hover {
    box-shadow: 0 15px 35px 0 rgba(68, 88, 144, 0.2);
    transform: translateY(-5px);
    border-color: #2282ff;
}

.discountbox-card .discountbox-name {
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 22px;
    color: #5777ba;
    font-family: "Open Sans", sans-serif;
}

.discountbox-card .discountbox-created_at {
    color: #bababa;
    font-size: 18px;
    display: block;
}

.discountbox-card .get-started-btn {
    background: #47536e;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
}

.discountbox-card .get-started-btn:hover {
    background: #5777ba;
}

.discountbox-card h4 {
    font-size: 32px;
    color: #5777ba;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
}

.slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.slide-container .range-slider {
    width: 100%;
    margin: 0 15px;
}

@media (max-width: 768px) {
    .slide-container {
        flex-direction: column;
        align-items: flex-start;
        height: 120px;
    }
}

/** SWEETALERT - START  **/
/* SWAL CANCEL */
button:where(.swal2-cancel) {
    color: #565E6CFF !important;
    background: #F3F4F6FF !important;
    border-radius: 4px !important;
}

/* Hover */
button:where(.swal2-cancel):hover {
    color: #565E6CFF !important;
    background: #DEE1E6FF !important;
}

/* Pressed */
button:where(.swal2-cancel):hover:active {
    color: #565E6CFF !important;
    background: #CFD2DAFF !important;
}

/* SWAL CONFIRM */
button:where(.swal2-confirm) {
    color: #FFFFFFFF !important;
    background: #00BDD6FF !important;
    border-radius: 4px !important;
}

/* Hover */
button:where(.swal2-confirm):hover {
    color: #FFFFFFFF !important;
    background: #00A9C0FF !important;
}

/* Pressed */
button:where(.swal2-confirm):hover:active {
    color: #FFFFFFFF !important;
    background: #0095A9FF !important;
}

/* toastr */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

/** SWEETALERT - END  **/

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60px;
    padding: 12px 12px 12px 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 15px 40px #7E6D5766;
}
.slider p {
    font-size: 26px;
    font-weight: 600;
    font-family: Open Sans, serif;
    padding-left: 30px;
    color: black;
    margin: unset;
}
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: calc(100% - 80px);
    height: 2px;
    background: black;
    border: none;
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}

/*.select2-container--default,*/
.select2-container .select2-selection--single{
    height: 2.3rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 2.3rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.2rem !important;
}
